.app-assinatura{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  width: 100%;
}

.titleAssinatura{
  margin: 8rem auto 1rem auto;
  font-size: 3.6rem;
  text-align: center;
  color: var(--azul-prefeitura);
}

.descriptionForm{
  margin: 1rem auto 8rem auto;
  font-size: 2rem;
  text-align: center;
}

.app-assinatura form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputGroup label{
  padding: 0 1rem;
  z-index: 1;
  width: max-content;
  margin: 0 0 -1rem 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  background: var(--gelo);
}

.inputGroup input{
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 1.5rem 2rem;
  outline: none;
  border-radius: 0.5rem;
  border: 2px solid rgb(206, 206, 206);
  transition: 0.3s;
  background-color: var(--gelo);
}

.inputGroup input:focus{
  border: 2px solid var(--azul-prefeitura);
}

.btnFormAssinatura{
  border-radius: 0.5rem;
  color: var(--branco);
  font-weight: 700;
  font-size: 1.6rem;
  padding: 2rem;
  background: var(--azul-prefeitura);
  transition: 0.3s
}

.btnFormAssinatura:hover{
  opacity: 0.9;
}

.containerAssinatura{
  border-radius: 0.5rem;
  background: var(--branco);
}

.assinatura{
  margin: 2rem auto auto auto;
  width: 58rem;
  height: 16.6rem;
}

.infoAssinatura{
  z-index: 1;
  margin-top: 1rem;
  margin-left: 20rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.nomeFuncionario{
  color: var(--azul-prefeitura);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cargoFuncionario{
  font-size: 1.4rem;
  font-weight: 700;
}

.telefoneOrgao{
  font-size: 1.4rem;
  color: var(--azul-prefeitura);
}

.nomeOrgao{
  font-weight: 700;
}

.enderecoOrgao{
  color: var(--azul-prefeitura);
  font-weight: 400;
  font-size: 1.2rem;
}