#intro{
  margin-top: 8rem;
  padding: 14rem 0;
  background-color: var(--azul-prefeitura);  
}

.heroTitle{
  font-size: 4rem;
}

#intro div.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-intro{
  color: var(--branco);
  width: 55%;
}

.conteúdo-intro p{
  margin: 2rem 0 4rem 0;
  color: var(--branco);
}

.btnHero{
  margin-top: 2rem;
  width: max-content;
  display: block;
  font-weight: 500;
  color: var(--azul-prefeitura);
  border-radius: 0.5rem;
  padding: 1.5rem 3.5rem;
  background: var(--branco);
  transition: 0.3s;
}
.btnHero:hover{
  filter: brightness(0.9);
}

@media(max-width: 800px){
  .imagem-intro{
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .conteudo-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .heroTitle{
    font-size: 3.6rem;
    text-align: center;
  }

  .dscriptionIntro{
    text-align: center;
  }

  .btnHero{
    margin: 2rem auto;
  }
}
