.titleMissao{
  margin: 8rem auto;
  text-align: center;
  font-size: 3.6rem;
  color: var(--azul-prefeitura);
}

.paragrathMissao{
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 2rem;
}

.missaoList{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  list-style: none;
}

.missaoList li{
  text-align: justify;
}